<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="dep/angular.js"></script>
    <script src="dep/angular-animate.js"></script>
    <script src="dep/angular-sanitize.js"></script>
    <script src="dep/ui-bootstrap-tpls-2.1.4.js"></script>
    <script src="example.js"></script>
    <link href="dep/bootstrap.min.css" rel="stylesheet">
  <link href="demo.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="ModalDemoCtrl" class="modal-demo-ash">
    <script type="text/ng-template" id="myGalleryModal.html">
        
        <div class="modal-body modal-body-gallery row" id="modal-body-gallery">
        <button type="button" class="close" ng-click="$close()">X</button>
		
  		<div class="col-md-4 col-lg-4 hidden-sm hidden-xs visible-md visible-lg sidearea">
            <div class="productname"><h4><b></b></h4>
                </div>
			<div class="iconarea">
			 <div ng-repeat ="item in items" class="col-md-6 col-lg-6 hidden-sm hidden-xs visible-md visible-lg icondiv" ng-click="openImg($index)" >
			 <img ng-src="{{item.image}}" ng-class="$index==selectedimagecount ? 'selectedicon' : 'icon'">
			</div>
        </div>
        </div>
  		<div class="col-md-8 col-lg-8 hidden-xs hidden-sm visible-md visible-lg imagearea">
       <div class="mainimagediv" id="mainimagediv">
        <img ng-src="{{selectedimage.image}}" class="mainimage" id="mainimage" ng-click="zoomImg()" onclick="zoomIn(event)">
        </div>
        
        <div class="zoomimagediv" ng-class="zoomvisible" >
            <div style="background-image:url('{{selectedimage.image}}')" class="zoomimage" id="zoomimage"  ng-click="zoomOut()" onmousemove="zoomIn(event)"></div>
        </div>
            
        </div>
        <div class="col-sm-12 col-xs-12 hidden-md hidden-lg visible-sm visible-xs imageareamob">
        <div class="mainimagedivmob">
        
        <img ng-src="{{selectedimage.image}}" class="mainimagemob">
        </div>
        </div>
        
			<div class="iconareamob col-sm-12 col-xs-12 hidden-md hidden-lg visible-sm visible-xs">
			
			 <div ng-repeat ="item in items" class="col-sm-3 col-xs-3 hidden-md hidden-lg visible-sm visible-xs" ng-click="openImg($index)">
			 <img ng-src="{{item.image}}"  ng-class="$index==selectedimagecount ? 'selectedicon' : 'icon'" >
			</div>
        
        </div>
        </div>

        
    </script>

    <button type="button" class="btn btn-default" ng-click="open('lg')">Open Product Gallery</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>

    
</div>

 
 <script src="zoom.js"></script>
  </body>
</html>


